body{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#top{
    height: 200px;
    background-image: url("images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: darkblue;
    position: relative;
}

#top #titel{
    font-size: 3em;
    margin-top: 0;
    font-weight: bold;
    font-style: italic;
}

#top p{
    font-size: 2.4em;
    font-weight: bold;
}

#top img{
    float: right;
    position: absolute;
    right: 90px;
    bottom: 60px;
}

#news{
    float: right;
    width: 25%;
    background-color: #dddddd;
    border: 1px solid #999999;
    color: #666666;
    font-size: 90%;
    box-sizing: border-box;
}

#news p{
    padding-right: 10px;
    padding-left: 10px;
}

#news h3{
    font-size: 120%;
    color: white;
    background-color: blue;
    text-align: center;
}

main{
    width: 75%;
}

#introduction{
    float: left;
    width: 75%;
    margin: 0;
    text-align: justify;
    padding: 20px 30px 20px 0;
    background-color: white;
}

#introduction p{
    margin: 0;
}

#introduction span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}

#logo{
    float: left;
    padding: 20px 20px 0 20px;
    background-color: white;
}

#gallery .foto{
    height: 180px;
    width: 180px;
    margin: 20px;
    display: inline-block;
    padding: 10px;
    background-color: white;
    border: 1px dotted red;
}

#gallery{
    clear: left;
    background-color: #999999;

}

#bottom, #bottom a{
    clear: both;
    background-color: #666666;
    color: white;
    line-height: 2em;
}

#bottom a:hover{
    background-color: red;
}

.block{
    margin-left: 120px;
    display: inline-block;
}

#copyright{
    clear: both;
    text-align: center;
}