ul{
    list-style: none;
    padding-left: 0;
}

li{
    background-image: url(images/unchecked.png);
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
}

.checklist{
    background-image: url(images/checked.png);
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 20px;
    padding-bottom: 5px;
}