body{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}

header{
    text-align: center;
}

.content{
    width: 70%;
}

body > article{
    float: right;
    width: 30%;
    text-align: center;
    padding: 5px;
    border: 3px solid #007e7e;

    background-image: url("images/cocktail.gif");
    background-repeat: repeat-x;
    background-position: left top;
}

body > article a:hover{
    background-color: saddlebrown;
}

body > article h2{
    color: red;
}

section h1{
    font-size: 150%;
    color: #007e7e;
    margin-top: 0;
}

section h2{
    font-size: 130%;
    color: #007e7e;
}

#guarantee{
    margin: 30px;
    padding: 20px 20px 20px 58px;
    color: #444444;
    background-color: #a7cece;
    border: 5px white dotted;

    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-size: 55px;
}

.italic{
    font-style: italic;
}

.bold{
    font-weight: bold;
}

footer{
    clear: both;
    text-align: center;
    font-size: 0.5em;
}