body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "David CLM", Arial, sans-serif;
}

h1{
    text-align: center;
    font-size: 50px;
}

h2{
    margin-bottom: 10px;
}

.persoonlijk h2, .hobbies h2{
    margin-top: 0;
}

h3{
    margin-top: 0;
    margin-bottom: 10px;
}

li{
    margin-top: 5px;
    list-style: none;
}

.persoonlijk, .hobbies, .likes, .movies, .vrienden, .mia, .miaVid{
    background-color: antiquewhite;
    padding: 10px 20px 5px 15px;
    margin-top: 30px;
    border-radius: 3px;
    overflow: auto;
    margin-bottom: 20px;
}

.likes{
    margin-bottom: 10px;
}

.bts, .stewart, .harrypotter, .divergent, .mia img, .miaVid video{
    width: 30em;
}

table{
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

table td, table th{
    padding: 3px 10px;
}

table thead th{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F0D9BD), color-stop(1, #C7B49D) );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0D9BD', endColorstr='#C7B49D');
    color:#000000;
    font-size: 16px;
    font-weight: bold;
    border-left: 1px solid #000000;
}

table thead th:first-child{
    border: none;
}

table tbody td{
    color: #000000;
    border-left: 1px solid #000000;
    font-size: 16px;
    font-weight: normal;
}

table tbody .alt td{
    background: #F0D9BD;
    color: #000000;
}

table tbody td:first-child{
    border-left: none;
}

table tbody tr:last-child td{
    border-bottom: none;
}

@media screen and(min-width: 992px)
{

}