body{
    width: 95%;
    margin: auto;
}

.row div:nth-child(even)
{
    background-color: darkgrey;
    border-left: 10px solid white;
}

.row div:nth-child(odd)
{
    background-color: lightgrey;
    border-left: 10px solid white;;
}

.row{
    height: 200px;
}

.row{
    width: 100%;
    margin-bottom: 20px;
}